body {
  background-color: #FCDEE2;
  background-image: url("assets/fumi.png");
  background-repeat: repeat-y;
}

.background-image {
  background-repeat: repeat-y;
}

#musicPlayer {
  width: 300px;
  height: 30px;
  margin: 30px auto auto auto;
  text-align: center;
  background-color: #F0F9F7;
  border: solid;
}

#pButton {
  float: left;
  width: 30px;
  height: 30px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  border: none;
  outline: none;
}

#timeline {
  position: relative;
  display: block;
  float: left;
  width: 250px;
  height: 10px;
  margin-top: 10px;
  background-color: rgb(215, 223, 221);
  background-image: linear-gradient(center bottom,#F0F9F7 37%,#CC5F6E 69%);
  border: #F0F9F7;
}

#playhead {
  width: 10px;
  height: 10px;
  margin-top: 0px;
  background: #CC5F6E;
}

#volume_control {
  bottom: 0px;
  width: 75%;
  margin: auto;
}

#rngVolume_label {
  margin-top: 100px;
  margin-right: 15px;
  font-family: 'Kosugi Maru', sans-serif;
  color: #CC5F6E;
  vertical-align: middle;
}

#rngVolume {
  margin-top: 15px;
  margin-right: 10px;
  vertical-align: middle;
}

.play {
  background: url("assets/play.png");
}

.pause {
  background: url('assets/pause.png');
}

.main-nav {
  width: 100%;
  text-align: center;
  background: #FCDEE2;
}

.nav {
  font-family: 'Gaegu', cursive;
  color: #CC5F6E;
  text-align: center;
  border: 3px solid #CC5F6E;
}

h3 {
  margin-top: 30px;
  font-family: 'Kosugi Maru', sans-serif;
  font-size: 20px;
  color: #CC5F6E;
  text-align: center;
}

.fumiChan {
  position: relative;
  font-family: 'Gaegu', cursive;
  font-size: 44px;
  color: #CC5F6E;
  text-align: center;
}

h2 {
  margin-top: -50px;
  font-family: 'Kosugi Maru', sans-serif;
  font-size: 15px;
  color: #CC5F6E;
  text-align: center;
}

.bar {
  opacity: 0.5;
}

h1:hover {
  font-family: 'Gaegu', cursive;
  font-size: 44px;
  color: #F0F9F7;
  text-align: center;
}

h2:hover {
  margin-top: -50px;
  font-family: 'Kosugi Maru', sans-serif;
  font-size: 15px;
  color: #F0F9F7;
  text-align: center;
}
